.page-container{
  background-color: #202329;
  width: 100%;
  margin: auto;
}

.header{
  width: 100%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  background-color: #000;
  color:aliceblue;
  font-weight: bolder;
  min-height: 5%;
  margin-bottom:3%;
  text-align: center; 
  height: 5%;
}

.title:hover{
  color: #97ce4c;
}

.character-divs-container {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.character-div{
  border:8px round #fff;
  background-color:#000000;
  display:flex;
  align-items:center;
  width: 75%;
  height: 280px;
  border-radius: 10px;
}

.character-image{
  object-fit:cover;
  transform-origin:center;
  transform:perspective(400px) rotateY(15deg);
  transition:0.2s;
  height: 50%;
  width: auto;
}

.character-details{
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  color: azure;
}
.character-details h2{
  margin-top: -5vh;
  margin-bottom: 5vh;
  color: #97ce4c;
  border-bottom: .1vh solid azure;
  width: 150px;
}

.detail-page-container{
  background-color: #202329;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.character-details-container{
  color: #fff;
  flex-flow: column wrap;
  text-align: center;
  font-weight: bold;
}

.character-details-container h2{
  color: #97ce4c;
}

.back-button{
  background-color: #97ce4c;
  color:white;
  font-weight: bolder;
  border-radius: 10px;
  border:none;
  height: 100px;
}

.episode-list{
  list-style-type: none;
}

.character-div img:hover {
  transform:perspective(400px)       rotateY(0deg);
}